@charset 'utf-8';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.box {
	height: 100px;
	width: 100px;
	border: 1px solid black;
}


div:hover{ 
	/*background-color: red;*/
	/*hover방법3)*/
	background-color: white;
	font-size: 30px;
	
}