@charset 'utf-8';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{

	width: 100%;
	height: 50px;
	margin: 0 auto;
	border: 3px solid black;
	background-color: lightgrey;

}

.menu-box{
	width: 20%;
	height: 504px;
	margin: 0 auto;
	border: 2px solid black;
	float: left;

}
.menu-box>.box1, .box2, .box3, .box4, .box5{

	border: 1px solid black;
	position: relative;
	display: block;
	width: 100%;
	border-bottom: 1px solid black;
	height: 100px;
	
}

.menu-item1{
	width: 303px;
	height: 32px;
	padding: 16px 0 0 4px;
	font-size: 0px;
}
.menu-item1>a>div{
    display: inline-block;
    height: 16px;
    background-image: url('https://s.pstatic.net/static/www/img/2018/sp_nav_v181019.png');
}
@media(min-width:500px){
.item1-1{
    width: 25px;
    background-position: -244px -233px;
}
.item1-2{
    width: 27px;
    background-position: -279px -130px;
    margin-left: 14px;
}
.item1-3{
    width: 40px;
    background-position: -150px -182px;
    margin-left: 14px;
}
.item1-4{
    width: 40px;
    background-position: -102px -156px;
    margin-left: 14px;
}
}

@media(max-width:501px){
  .ham-box{
		width: 50px;
		height: 48px;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top:0;
		left: 0;
	}
	.ham-menu{
		display: block;
		width: 22px;
		height: 17px;
		position: absolute;
		top: 16px;
		left: 14px;
		background-image:url('https://s.pstatic.net/static/www/m/2018/sp_main_v181115a.png'); 
		background-position: -599px -275px;
		background-size:  655px 642px;
	}
}