@charset 'utf-8';

.main.swiper-container.contents {
    /*컨텐츠 내용이 없거나 다 채우지 못하더라도 swiper를 화면 전체에 적용하면서 
    스크롤바가 생기지 않도록 100vh에서 네비게이션 높이 40px를 제거*/
  min-height: calc(100vh - 40px -30px);    /*스크롤안생기게 30px제거*/
  
}

.title.swiper-container{
    height: 30px;
    width: 100%;
    background-color: #2f2d2d;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
}

.title .swiper-slide-active{
    color: yellow;
    font-weight: bold;
}
.main.swiper-container{
    height: 800px;
}
.title .swiper-slide{
    width: auto;    /*글자수에 맞춰서 메뉴글자 배치*/
}

.carousel-item img{
    width: 100%;
    height: auto;
}